.button{
    background-color: rgb(213, 244, 244);
    color: rgba(0, 0, 0, 0.55);
    border-radius: 2rem;
    font-size: 20px;
    border: none;
    width: 150px;
    height: 40px;
    margin-right: 2rem
}

.button:hover{
    cursor: pointer;
    background-color: rgb(113,207,247);
}

.input{
    width: 15rem;
    text-align: start;
    padding: 0.5rem;
    border: none;
    border-radius: .5rem;
}

